In [1]:
from os import walk
import pandas as pd

In [2]:
cd /home/laleh/PycharmProjects/conxai

/home/laleh/PycharmProjects/conxai

In [3]:
label_path = 'data/raw data/stage_labels.csv'
data_folder_path = 'data/raw data/foundation_images'

In [4]:
# Load image names from the CSV file
df = pd.read_csv(label_path, sep=';')

In [5]:
# Shape of data
df.shape

(4467, 2)

In [6]:
# Statistics of data
df.describe()

                                       image_name               label
count                                        4467                4467
unique                                       4090                   7
top     cam3_f2023-06-25T10:30:31.101Z.jpg_11.png  Stage-2_Formwork-1
freq                                            3                1046

In [7]:
# Label Distribution
df['label'].value_counts()

Stage-2_Formwork-1    1046
Stage-3_Concrete-1     956
Stage-1_Rebar          749
Stage-6_Soil           721
Stage-5_Concrete-2     616
Stage-4_Formwork-2     341
Stage-0_Screed          38
Name: label, dtype: int64

In [8]:
# Null Values
df.isnull().sum()

image_name    0
label         0
dtype: int64

In [9]:
clean_df = df.drop_duplicates()

In [10]:
clean_df.describe()

                                      image_name               label
count                                       4090                4090
unique                                      4090                   7
top     cam1_f2023-05-30T10:30:13.705Z.jpg_0.png  Stage-2_Formwork-1
freq                                           1                 955

In [11]:
 clean_df['label'].value_counts()

Stage-2_Formwork-1    955
Stage-3_Concrete-1    868
Stage-6_Soil          710
Stage-1_Rebar         661
Stage-5_Concrete-2    549
Stage-4_Formwork-2    309
Stage-0_Screed         38
Name: label, dtype: int64

In [12]:
not_in_folders = pd.read_csv('source/preprocessing/missing_in_folders.txt')

In [13]:
clean_df = clean_df[~clean_df['image_name'].isin(not_in_folders['name'])]

In [14]:
clean_df.describe()

                                      image_name               label
count                                       3565                3565
unique                                      3565                   7
top     cam1_f2023-05-30T10:30:13.705Z.jpg_0.png  Stage-2_Formwork-1
freq                                           1                 953

In [15]:
 clean_df['label'].value_counts()

Stage-2_Formwork-1    953
Stage-3_Concrete-1    801
Stage-1_Rebar         661
Stage-5_Concrete-2    549
Stage-4_Formwork-2    309
Stage-6_Soil          254
Stage-0_Screed         38
Name: label, dtype: int64

In [16]:
clean_df.shape

(3565, 2)

In [17]:
clean_df.to_csv('data/processed data/clean_labels.csv')