In [1]:
from os import walk
import pandas as pd
import re

In [2]:
cd /home/laleh/PycharmProjects/Conxai/Conxai

/home/laleh/PycharmProjects/Conxai/Conxai

In [3]:
label_path = 'data/raw data/stage_labels.csv'
data_folder_path = 'data/raw data/foundation_images'

In [4]:
# Load image names from the CSV file
df = pd.read_csv(label_path, sep=';')

In [5]:
# Shape of data
df.shape

(4467, 2)

In [6]:
# Statistics of data
df.describe()

                                       image_name               label
count                                        4467                4467
unique                                       4090                   7
top     cam3_f2023-06-25T10:30:31.101Z.jpg_11.png  Stage-2_Formwork-1
freq                                            3                1046

In [7]:
# Label Distribution
df['label'].value_counts()

Stage-2_Formwork-1    1046
Stage-3_Concrete-1     956
Stage-1_Rebar          749
Stage-6_Soil           721
Stage-5_Concrete-2     616
Stage-4_Formwork-2     341
Stage-0_Screed          38
Name: label, dtype: int64

In [8]:
# Null Values
df.isnull().sum()

image_name    0
label         0
dtype: int64

In [9]:
clean_df = df.drop_duplicates()

In [10]:
clean_df.describe()

                                      image_name               label
count                                       4090                4090
unique                                      4090                   7
top     cam1_f2023-05-30T10:30:13.705Z.jpg_0.png  Stage-2_Formwork-1
freq                                           1                 955

In [11]:
 clean_df['label'].value_counts()

Stage-2_Formwork-1    955
Stage-3_Concrete-1    868
Stage-6_Soil          710
Stage-1_Rebar         661
Stage-5_Concrete-2    549
Stage-4_Formwork-2    309
Stage-0_Screed         38
Name: label, dtype: int64

In [12]:
not_in_folders = pd.read_csv('source/preprocessing/missing_in_folders.txt')

In [13]:
clean_df = clean_df[~clean_df['image_name'].isin(not_in_folders['name'])]

In [14]:
clean_df.describe()

                                      image_name               label
count                                       3565                3565
unique                                      3565                   7
top     cam1_f2023-05-30T10:30:13.705Z.jpg_0.png  Stage-2_Formwork-1
freq                                           1                 953

In [15]:
 clean_df['label'].value_counts()

Stage-2_Formwork-1    953
Stage-3_Concrete-1    801
Stage-1_Rebar         661
Stage-5_Concrete-2    549
Stage-4_Formwork-2    309
Stage-6_Soil          254
Stage-0_Screed         38
Name: label, dtype: int64

In [16]:
clean_df.shape

(3565, 2)

In [17]:
def parse_filename(file_name):
    pattern = r'cam(\d)_f(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z)\.jpg_(\d+)\.png'

    match = re.match(pattern, file_name)

    if match:
        c = int(match.group(1))
        t = match.group(2)
        j = int(match.group(3))
        return pd.Series({'c': c, 't': t, 'j': j})
    else:
        return pd.Series({'c': None, 't': None, 'j': None})

In [18]:
parsed_info = clean_df['image_name'].apply(parse_filename)

# Add the parsed information as new columns in the DataFrame
clean_df[['c', 't', 'j']] = parsed_info

In [19]:
clean_df

,image_name,label,c,t,j
0,cam1_f2023-05-30T10:30:13.705Z.jpg_0.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,0
1,cam1_f2023-05-30T10:30:13.705Z.jpg_1.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,1
2,cam1_f2023-05-30T10:30:13.705Z.jpg_2.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,2
3,cam1_f2023-05-30T10:30:13.705Z.jpg_3.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,3
4,cam1_f2023-05-30T10:30:13.705Z.jpg_4.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,4
...,...,...,...,...,...
4462,cam4_f2023-06-27T17:00:34.057Z.jpg_5.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,5
4463,cam4_f2023-06-27T17:00:34.057Z.jpg_6.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,6
4464,cam4_f2023-06-27T17:00:34.057Z.jpg_7.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,7
4465,cam4_f2023-06-27T17:00:34.057Z.jpg_8.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,8
4466,cam4_f2023-06-27T17:00:34.057Z.jpg_9.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,9

In [23]:
clean_df['cj'] = 100*clean_df['c'] + clean_df['j']

In [24]:
clean_df

,image_name,label,c,t,j,cj
0,cam1_f2023-05-30T10:30:13.705Z.jpg_0.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,0,100
1,cam1_f2023-05-30T10:30:13.705Z.jpg_1.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,1,101
2,cam1_f2023-05-30T10:30:13.705Z.jpg_2.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,2,102
3,cam1_f2023-05-30T10:30:13.705Z.jpg_3.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,3,103
4,cam1_f2023-05-30T10:30:13.705Z.jpg_4.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,4,104
...,...,...,...,...,...,...
4462,cam4_f2023-06-27T17:00:34.057Z.jpg_5.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,5,405
4463,cam4_f2023-06-27T17:00:34.057Z.jpg_6.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,6,406
4464,cam4_f2023-06-27T17:00:34.057Z.jpg_7.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,7,407
4465,cam4_f2023-06-27T17:00:34.057Z.jpg_8.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,8,408
4466,cam4_f2023-06-27T17:00:34.057Z.jpg_9.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,9,409

In [25]:
clean_df.to_csv('data/processed_data/clean_labels.csv')

In [31]:
objects = clean_df['cj'].unique()

In [42]:
objects

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 200, 201, 202,
       203, 204, 205, 206, 207, 208, 209, 300, 301, 310, 311, 312, 302,
       303, 304, 305, 306, 307, 308, 309, 400, 401, 410, 411, 412, 413,
       414, 415, 416, 417, 418, 419, 402, 420, 421, 403, 404, 405, 406,
       407, 408, 409])

In [49]:
num_test_values = int(0.2 * len(objects))

In [50]:
import numpy as np

In [59]:
test_values = np.random.choice(objects, num_test_values, replace=False)

In [63]:
test_values

array([107, 208, 402, 105, 419, 209, 301, 310, 202, 309, 401])

In [ ]:
val_values = no.random.choice(np.setdiff1d(a, b), )

In [66]:
train_val_values = np.setdiff1d(objects, test_values)

In [68]:
num_val_values = int(0.2*0.8*len(objects))

In [69]:
val_values = np.random.choice(train_val_values, num_val_values, replace=False)

In [76]:
def determine_split(x):
    if x in test_values:
        return 'test'
    elif x in val_values:
        return 'val'
    else:
        return 'train'

In [77]:
clean_df['split'] = clean_df['cj'].apply(determine_split)

In [78]:
clean_df

,image_name,label,c,t,j,cj,split
0,cam1_f2023-05-30T10:30:13.705Z.jpg_0.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,0,100,train
1,cam1_f2023-05-30T10:30:13.705Z.jpg_1.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,1,101,train
2,cam1_f2023-05-30T10:30:13.705Z.jpg_2.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,2,102,train
3,cam1_f2023-05-30T10:30:13.705Z.jpg_3.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,3,103,val
4,cam1_f2023-05-30T10:30:13.705Z.jpg_4.png,Stage-1_Rebar,1,2023-05-30T10:30:13.705Z,4,104,train
...,...,...,...,...,...,...,...
4462,cam4_f2023-06-27T17:00:34.057Z.jpg_5.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,5,405,val
4463,cam4_f2023-06-27T17:00:34.057Z.jpg_6.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,6,406,train
4464,cam4_f2023-06-27T17:00:34.057Z.jpg_7.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,7,407,train
4465,cam4_f2023-06-27T17:00:34.057Z.jpg_8.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,8,408,train
4466,cam4_f2023-06-27T17:00:34.057Z.jpg_9.png,Stage-6_Soil,4,2023-06-27T17:00:34.057Z,9,409,train

In [80]:
clean_df.to_csv('data/processed_data/clean_labels.csv')